<% provide(:title, "活水 爱服事 | iMinistry") %>
<h1>爱服事？ 登入吧～</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
	  <div class="row">
	  <div class="span0 offset0">
      <%= f.label :email, "电子邮件地址", class: "label" %>
      </div>
      </div>
      <%= f.text_field :email %>
	  <div class="row">
	  <div class="span0 offset0">
      <%= f.label :password, "密码", class: "label" %>
      </div>
      </div>
      <%= f.password_field :password %>

      <%= f.submit "登入", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>