<h1>活水团契事工</h1>
<% @ministries.each do |ministry| %>
	<% unless (ministry.core_coworker? && @coworker.core_coworker? == false) %>
		
	
	<div class="row">
		<div class="span8 offset2">
			<div class="well">	
				<div class="row">
					<div class="span2 offset0">
						<div class="well">						
						<h3><%= ministry.name %></h3>
						</div>				
					</div>

					<div class="span4 offset0">
						<div class="well">				
			    		<%= ministry.description %>
			    		</div>
			    	</div>
			    	<div class="span1 offset0">
			    		<br />
			    		<% if @coworker.ministries.find_by_id(ministry) %>
			    			<%= button_to '我要退出？', 
			    					{ controller: :my_ministries, action: :destroy,
			    					  id: @coworker.my_ministries.find_by_ministry_id(ministry).id },
			    					confirm: "确定退出吗", 
			    					method: :delete, class: "btn btn-danger" %>
			    		<% else %>
			    			<%= button_to '我要加入！', my_ministries_path(ministry_id: ministry), class: "btn btn-success" %>
			    		<% end %>
			    	</div>
			    </div>
			    <% if current_coworker.admin? %>
			    <div class="row">
			    	<div class="span3">
					    <%= link_to '显示', ministry, class: "btn btn-inverse"  %> ｜ 
					    <%= link_to '编辑', edit_ministry_path(ministry), class: "btn btn-inverse" %> ｜ 
					    <%= link_to '删除', ministry, confirm: '确定吗？', method: :delete, class: "btn btn-inverse" %>
			    	</div>
			    </div>	
			    <% end %>
			</div>		
		</div>
	</div>
	<% end %>
<% end %>




<br />
<% if @current_coworker.admin? %>
<%= link_to '添加新事工', new_ministry_path, class: "btn btn-inverse" %>
<% end %>
