<p id="notice"><%= notice %></p>

<p>
  <b>事工小组</b>
  <%= @ministry.name %>
</p>

<p>
  <b>事工内容</b>
  <%= @ministry.description %>
</p>


<%= link_to '编辑', edit_ministry_path(@ministry) %> |
<%= link_to '返回', ministries_path %>
