<%= form_for(@coworker) do |f| %>
  <% if @coworker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coworker.errors.count, "error") %> prohibited this coworker from being saved:</h2>

      <ul>
      <% @coworker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "姓名", class: "btn btn-info" %><br /><br />
    <%= f.text_field :name %>
  </div>
  <br />
  <div class="field">
    <%= f.label :email, "电子邮件", class: "btn btn-info" %><br /><br />
    <%= f.text_field :email %>
  </div>
  <br />
  <div class="field">
    <%= f.label :password, "密码", class: "btn btn-info" %><br /><br />
    <%= f.password_field :password %>
  </div>
  <br />
  <div>
    <%= f.label :password_confirmation, "再输入一遍密码确认", class: "btn btn-info" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit "更新事工账户", class: "btn btn-large btn-primary" %>
<% end %>
