<h1>编辑<%= current_coworker.name %>的账户</h1>

<div class="row">
	
	<div class="row">
		<div class="span6 offset5">
  	    <%= gravatar_for @coworker %><br />
  	    <a href="http://gravatar.com/emails", class="btn btn-info">更改</a>
  	    </div>
	</div>
	<br /><br />
  <div class="span6 offset3">
    <%= form_for(@coworker) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "姓名", class: "btn btn-info" %><br /><br />
      <%= f.text_field :name %>
<br /><br />
      <%= f.label :email, "电子邮件", class: "btn btn-info" %><br /><br />
      <%= f.text_field :email %>
<br /><br />
      <%= f.label :password, "密码", class: "btn btn-info" %><br /><br />
      <%= f.password_field :password %>
<br /><br />
      <%= f.label :password_confirmation, "再输入一遍密码确认", class: "btn btn-info" %><br /><br />
      <%= f.password_field :password_confirmation %>
      
      <% if admin_coworker? && current_coworker.id != @coworker.id %>
            <br /><br />
      <%= f.label :admin, "管理员",class: "btn btn-info" %><br /><br />
      <div class="btn-group" data-toggle="buttons-radio">
	  	  <button type="button" class="btn">
	  	  	<% if @coworker.admin? %>
	  		<%= f.radio_button :admin, true, checked: true %><%= label :admin, '是' %>
	  		<% else %>
	  			<%= f.radio_button :admin, true %><%= label :admin, '是' %>
	  		<% end %>
	  	  </button>
	  	  <button type="button" class="btn">
	  	  	<% if @coworker.admin? %>
	  	  	<%= f.radio_button :admin, false %><%= label :admin, '不是' %>
	  	  	<% else %>
	  	  	<%= f.radio_button :admin, false, checked: true %><%= label :admin, '不是' %>
	  	  	<% end %>
	  	  </button>
	  </div>
	 
	<br /><br />
	  <%= f.label :core_coworker, "同工",class: "btn btn-info" %><br /><br />
      <div class="btn-group" data-toggle="buttons-radio">
	  	  <button type="button" class="btn">
	  	  	<% if @coworker.core_coworker? %>
	  		<%= f.radio_button :core_coworker, true, checked: true %><%= label :core_coworker, '是' %>
	  		<% else %>
	  		<%= f.radio_button :core_coworker, true %><%= label :core_coworker, '是' %>
	  		<% end %>
	  	  </button>
	  	  <button type="button" class="btn">
	  	  	<% if @coworker.core_coworker? %>
	  		<%= f.radio_button :core_coworker, false %><%= label :core_coworker, '不是' %>
	  		<% else %>
	  		<%= f.radio_button :core_coworker, false, checked: true %><%= label :core_coworker, '不是' %>
	  		<% end %>
	  	  </button>
	  </div>
	  <br />
      <% end %>

      <%= f.submit "保存", class: "btn btn-large btn-primary" %>	
    <% end %>


  </div>
</div>