<h1>Listing my_ministries</h1>

<table>
  <tr>
    <th>Coworker</th>
    <th>Ministry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @my_ministries.each do |my_ministry| %>
  <tr>
    <td><%= my_ministry.coworker_id %></td>
    <td><%= my_ministry.ministry_id %></td>
    <td><%= link_to 'Show', my_ministry %></td>
    <td><%= link_to 'Edit', edit_my_ministry_path(my_ministry) %></td>
    <td><%= link_to 'Destroy', my_ministry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New My ministry', new_my_ministry_path %>
